body {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    margin-left: 1px;
    padding-left: 10px;
    color: white;
    background-color: rgb(72, 94, 94);
}

h3 {
    margin-left: 10px;
    padding-left: 5px;
    color: brown;
}

h4 {
    margin-left: 5px;
    color:coral
}

div span {
    background-color: rgb(174, 226, 189);
    color: blueviolet;
}

div p {
    margin-left: 50px;
    margin-right: 50px;
    color: crimson;
}

div span {
    padding: 150;
    margin-left: 50px;
}

.sclase4 {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
} 

#parrafo:hover {
    background-color: rgb(127, 219, 255);
}

.clase1 p:hover, .clase3 p:hover, .clase3 h3:hover, .clase2 span:hover {
    color: white;
}

.class-button {
    margin-right:20px;
    display:block;
    float: right;
}

.clase6 {
    padding: 10px;
    margin: 20px;
}

.sclase6 {
    display: block;
    text-align: right;
    margin: 25px;
}

#subc:hover {
    color: blanchedalmond;
    font-size: 20px;
    background-color: black;
    width: 150px;
}

.clase3 {
    background-color: aquamarine;
}

.img-container {
    width: 130px;
    height: 180px;
    background-image: url(off.jpg);
}

.img-container:hover {
    width: 130px;
    height: 180px;
    background-image: url(on.jpg);
}